.baseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #ff0080, #ff8c00);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  white-space: nowrap;
}

.hide {
  opacity: 0;
  transform: translateX(-50px);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.baseButton:hover {
  transform: scale(1.05) translateY(-3px);
  background: linear-gradient(90deg, #ff3385, #ffaa33);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 480px) {
  .baseButton {
    width: 85%;
    padding: 18px 0;
    font-size: 17px;
  }
}